/*************************
    Global Styles
*************************/

:root {
  /** Colors **/

  --green: #2dd4bf;
  --grey: #bbbfc7;
  --pink: #fe6abe;

  --dark-blue: #0c1324;

  --light-blue: #04d9ff;
  --light-green: #cbfaec;
  --light-grey: #e5e7eb;

  --trans-dark-blue: rgba(12, 19, 36, 0.9);
  --trans-blue: rgba(4, 217, 255, 0.5);
  --trans-green: rgba(45, 212, 191, 0.5);
  --trans-pink: rgba(254, 106, 190, 0.5);
}

.green {
  color: var(--green);
}

.pink {
  color: var(--pink);
}

.blue {
  color: var(--light-blue);
}

/*************************
    Main
*************************/

* {
  cursor: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--dark-blue);
  color: var(--light-grey);
  font-family: "Source Code Pro", monospace;
  font-size: clamp(1rem, 0.9886rem + 0.0568vw, 1.125rem);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

section {
  border-bottom: 1px solid var(--trans-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 5%;
  width: 100%;
}

/*************************
    Cursor
*************************/

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--green);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 11;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--green);
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 11;
}

.cursorHover {
  background-color: var(--green);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

/*************************
    Main
*************************/

input,
button,
textarea,
select {
  font: inherit;
}

hr {
  border: none;
  border-bottom: 1px solid var(--green);
  margin: 35px 0 25px;
}

ul li {
  list-style: decimal-leading-zero inside;
}

/*************************
    Fonts
*************************/

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin-bottom: 0.67em;
}

h2 {
  font-size: clamp(1.625rem, 1.5682rem + 0.2841vw, 2.25rem);
}

h3 {
  font-size: clamp(1.3125rem, 1.2727rem + 0.1989vw, 1.75rem);
}

h4 {
  font-size: clamp(1.125rem, 1.0909rem + 0.1705vw, 1.5rem);
}

/*************************
    Links
*************************/

a {
  color: var(--green);
  text-decoration: none;
  transition: all 400ms;
}

.hover {
  position: relative;
  text-decoration: none;
}

.hover::after {
  background-color: var(--green);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 250ms ease-out;
  width: 100%;
}

.hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*************************
    Buttons
*************************/

button {
  display: inline-block;
  position: relative;
  background: none;
  border: 1px solid var(--trans-green);
  color: var(--trans-green);
  background: rgba(0, 0, 0, 0.09);
  margin-top: 25px;
  text-transform: uppercase;
  transition: all 400ms;
}

button span {
  display: block;
  font: inherit;
  font-weight: 400;
  padding: 14px 20px;
}

button:hover {
  background-color: var(--trans-green);
  color: var(--green);
}

button::before,
button::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--green);
}

span::before,
span::after {
  content: "";
  width: 1px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--green);
}

button:hover::before,
button:hover::after {
  width: 100%;
}

button:hover span::before,
button:hover span::after {
  height: 100%;
}

button::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.2s;
}

button span::after {
  transition-delay: 0.1s;
  right: 0;
  bottom: 0;
}

button::before {
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}

button span::before {
  transition-delay: 0s;
  left: 0;
  top: 0;
}

button:hover::after {
  transition-delay: 0s;
}

button:hover span::after {
  transition-delay: 0.2s;
}

button:hover::before {
  transition-delay: 0.1s;
}

button:hover span::before {
  transition-delay: 0.2s;
}

/*************************
    Header
*************************/

header {
  align-items: center;
  background-color: var(--dark-blue);
  border-bottom: 1px solid var(--trans-green);
  display: flex;
  padding: 15px 5%;
  position: sticky;
  top: 0;
  transition: 200ms;
  width: 100%;
  z-index: 10;
}

header ul li {
  float: left;
  font-weight: 400;
  padding-right: 30px;
}

header a.active::after {
  background-color: var(--green);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: transform 250ms ease-out;
  width: 100%;
}

header a.active:hover::after {
  transform: scaleX(0);
}

/*************************
    Hero
*************************/

#heroType {
  font-size: clamp(1rem, 0.9091rem + 0.4545vw, 2rem);
  position: absolute;
}

#heroType a {
  color: var(--pink);
}

#heroType a:hover {
  color: var(--green);
}

/*************************
    About
*************************/

.tabset {
  max-width: 1000px;
  position: relative;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 1px solid transparent;
  border-bottom: 0;
  font-weight: 400;
  transition: all 400ms;
}

input:focus-visible + label {
  outline: 2px solid var(--green);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: var(--green);
}

.tabset > input:checked + label {
  background-color: var(--trans-green);
  border-color: var(--green);
  border-bottom: 1px solid var(--green);
  margin-bottom: -1px;
}

.tab-panel {
  border-top: 1px solid var(--green);
  padding-top: 25px;
}

.tab-panel ul {
  padding-left: 5%;
}

/** Skills Bar **/

.skillbar-wrapper {
  margin: 3em auto;
  max-width: 100%;
}

.skillbar {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  height: 35px;
  margin-bottom: 1.5em;
}

.skillbar:last-child {
  margin-bottom: 0;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 200px;
  color: #fff;
  margin: 0;
}

.skillbar-title span {
  display: block;
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
}

.skillbar-bar {
  height: 35px;
  width: 0%;
  transition: 500ms linear;
  transition-property: width, background-color;
}

.skill-bar-percent {
  font-weight: 400;
  position: absolute;
  right: 10px;
  top: 0;
  height: 35px;
  line-height: 35px;
  color: var(--dark-blue);
  transition: color 500ms ease-out;
}

.complete .skill-bar-percent {
  color: var(--light-grey);
}

.skilll-green .skillbar-title {
  background: var(--green);
}

.skilll-green .skillbar-bar {
  background: var(--trans-green);
}

.skill-blue .skillbar-title {
  background: var(--light-blue);
}

.skill-blue .skillbar-bar {
  background: var(--trans-blue);
}

.skill-pink .skillbar-title {
  background: var(--pink);
}

.skill-pink .skillbar-bar {
  background: var(--trans-pink);
}

/*************************
    Works
*************************/

.projects-row {
    display: flex;
    max-width:1000px;
    padding-bottom: 2%;
  }
  
  .hover-reveal {
    margin: auto;
    padding: 3%;
  }
  
  .img-filter {
    aspect-ratio: 16/9;
    margin: 20px 0 0 20px;
    transition: all 300ms;
  }
  
  .img-filter:before {
    aspect-ratio: 16/9;
    border: 1px solid var(--green);
    content: "";
    display: block;
    position: absolute;
    width: 800px;
    background: var(--trans-green);
    transition: all 400ms;
    z-index: -1;
  }
  
  .img-filter:hover {
    margin: 0;
  }
  
  .img-filter:hover img {
    margin: 0;
    opacity: 0.5;
    transition: all 300ms;
  }
  
  .img-filter img {
    aspect-ratio: 16/9;
    border: 1px solid var(--green);
    image-rendering: auto;
    margin: -20px 0 0 -20px;
    object-fit: cover;
    width: 800px;
  }
  
  .filter {
    transition: all 400ms;
  }
  
  .filter:hover {
    outline-offset: 0;
  }
  
  .hover-reveal {
    margin-left: -30%;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    width: 1500px;
    z-index: -2;
  }
  
  .img-filter:hover + .hover-reveal {
    background-color: var(--trans-dark-blue);
    border: 1px solid var(--green);
    opacity: 1;
    z-index: 2;
  }

/*************************
    Contact
*************************/

.form-row {
  column-gap: 1%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  max-width: 1000px;
}

.form-row .textarea {
  height: 70px;
}

form label {
  font-weight: 400;
  padding: 1% 0;
  width: 10%;
}

input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--trans-green);
  border-radius: 0;
  color: var(--green);
  display: block;
  font-size: 18px;
  height: 100%;
  padding: 1% 0;
  transition: all 400ms;
  width: 100%;
}

textarea:focus,
input:focus {
  border-bottom: 1px solid var(--green);
  outline: none;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

/*************************
    footer
*************************/

footer {
  bottom: 3%;
  left: 2%;
  position: fixed;
  width: 100%;
  z-index: 11;
}

footer ul li {
  list-style: none;
}

footer ul li i {
  color: var(--trans-green);
  font-size: 21px;
  padding-bottom: 20px;
  transition: all 400ms;
}

footer ul li i:hover {
  color: var(--green);
  transform: scale(1.3);
}





